        body{
            background:white;
        }

        h1{
            color:white;
        } 

        h2{
            color:blue
        }
            
        h3{
            color:red
        }
        